<div class="user_edit" container-fluid">
  <div class="row h-100 justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label "プロフィール画像", class: "control-label" %>
        <%= f.attachment_field :profile_image, class: "form-control" %>
        <%= render partial: "module/error_message", locals: {resource: resource, attr: :profile_image} %>
      </div>

      <div class="form-group">
        <%= f.label "名前", class: "control-label" %>
        <%= f.text_field :name, autocomplete: "name", placeholder: "名前", class:"form-control" %>
        <%= render partial: "module/error_message", locals: {resource: resource, attr: :name} %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, placeholder: "メールアドレス", autocomplete: "email", class:"form-control" %>
        <%= render partial: "module/error_message", locals: {resource: resource, attr: :email} %>
      </div>

      <div class="form-group">
        <%= label_tag :creator_other_genre_check , "クリエイタージャンル" %>
        <%= f.collection_check_boxes(:creator_genre_ids, CreatorGenre.all, :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "コメント", class: "control-label" %>
        <%= f.text_area :caption, rows: '5', autocomplete: "name", placeholder: "ここに入力してください...", class:"form-control" %>
        <%= render partial: "module/error_message", locals: {resource: resource, attr: :caption} %>
      </div>

      <div class="form-group">
        <%= f.submit "変更を確定する", class:"btn btn-success form-control" %>
      </div>
    <% end %>
  </div>
</div>
