<div class="comment container">
  <div class="row align-items-center">
    <div class="comment__commenter_user_profile">
      <%= attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, fallback: "module/user_icons/user_no_image_icon.png" %>
      <span><%= post_comment.user.name %></span>
    </div>
    <span class="comment__comment_date">
      <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
    </span>
  </div>

  <div class="comment__comment_display_<%= post_comment.id %> comment__comment_display">
    <div id="comment__comment_text_<%= post_comment.id %>">
      <%= simple_format(h(post_comment.comment), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
    <% if post_comment.user.id == current_user.id %>
      <div class="comment__comment_compilation_links">
        <%= link_to '編集', edit_work_room_comment_path(work_room, post_comment), remote: true, class: "post_comment__edit_link" %>
        <%= link_to '削除', work_room_comment_path(work_room, post_comment), method: :delete , data: {confirm: "コメントを削除します。よろしいですか？"}, class: "post_comment__delete_link"%>
      </div>
    <% end %>
  </div>

  <!-- コメント編集フォーム -->
  <div class="comment__comment_edit_block_<%= post_comment.id %> comment__comment_edit_block", style="display: none">
    <%= form_with model: [work_room, post_comment], class: "post_comment__comment_edit_form" do |f| %>
      <div class="form-group mb-2">
        <%= f.text_area :comment, class: "form-control" %>
      </div>
      <%= f.submit '更新', class: "post_comment__comment_update_btn btn btn-outline-secondary btn-sm" %>
    <% end %>
  </div>
  <!-- コメント編集フォーム/ -->
</div>