<div class="item_select_card">
  <%= check_box_tag :item_select_check %>
  <div class="item_select_card__name_box">
    <p class="item_select_card__name"><%= search_result_item['itemName'] %></p>
  </div>
  <div class="w-100 text-center item_select_card__img_box"><img src="<%= search_result_item['mediumImageUrls'][0] %>" alt="" /></div>
  <div class="item_select_card__price_box">¥<%= search_result_item['itemPrice'] %></div>

  <!-- 埋め込みデータ -->
  <div class="item_select_card__external_site_name" style= "display: none"><%= search_site_name  %></div>
  <div class="item_select_card__item_site" style= "display: none"><%= search_result_item['itemUrl'] %></div>
  <div class="item_select_card__item_code" style= "display: none"><%= search_result_item['itemCode'] %></div>
  <!-- 埋め込みデータ/ -->
</div>

