<%= form_for(work_room) do |f| %>
  <!-- 写真を投稿する -->
  <div class="work_room_post__image_post">
    <h4>写真を投稿する</h4>
    <p>ファイルフォーマット：JPEG,PNG<br>５枚までアップロード可能です。</p>
    <div class="form-group">
      <div id="file" class="input-group">
        <label class="btn btn-primary form-control" for="customfile">ファイルを選択</label>
        <div class="work_room_post__custom-file">
          <%= f.attachment_field :work_room_images_images, id: "customfile", class: "custom-file-input", :multiple => true %>
        </div>
      </div>
    </div>
    <span class="work_room_post__require_budge">必須</span>
  </div>
  <!-- 写真を投稿する -->
  <!-- アイテムを投稿する -->
  <div class="work_room_post__item_post">
    <h4>アイテムを投稿する</h4>
    <p>この作業部屋に写っているアイテムを教えて下さい。</p>
    <span type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      検索して追加する
    </span>
    <div class="work_room_post__post_items"></div>
  </div>
  <!-- アイテムを投稿する -->
  <!-- クリエイタージャンル -->
  <div class="work_room_post__creator_genre_post">
    <h4>クリエイタージャンル</h4>
    <p>この投稿はどのジャンルのものですか？</p>

    <%= f.collection_radio_buttons :creator_genre_id, CreatorGenre.all, :id, :name do |b| %>
      <div class="work_room_post__creator-genre-block mr-3 mb-3">
        <%= b.radio_button %>
        <%= b.label { attachment_image_tag(b.object, :genre_image, :fill, 160, 190) } %>
        <span class="work_room_post__creator-genre-name"><%= b.object.name_en %></span>
      </div>
    <% end %>

    <span class="work_room_post__require_budge">必須</span>
  </div>
  <!-- クリエイタージャンル/ -->
  <!-- タグを付ける -->
  <div class="work_room_post__tag_post">
    <h4>タグを付ける</h4>
    <p>この投稿に関連するタグを追加してください</p>
    <div class="work_room_post__tag_post_description mb-3" >
      <p>
        （例）音楽の場合<br>
　      ・創作物のジャンル → JPOP, HipHop など<br>
　      ・パソコンのOS → Windows, Mac など<br>
      　・アイテムのメーカー → YAMAHA, Roland など<br>
      </p>
    </div>
    <div class="work_room_post__tag_block">
      <%= f.text_field :tag_list, "data-role" => "tagsinput", value: work_room.tag_list.join(',') %>
    </div>
  </div>
  <!-- タグを付ける/ -->
  <!-- 投稿者コメント -->
  <div class="work_room_post__contributor_comment_post">
    <h4>投稿者コメント</h4>
    <p>
      最後にこの投稿についてのコメントを200文字以内で投稿してください。<br>
      （例）追加したアイテム以外の情報とか...<br>
    </p>
    <div class="form-group form-row">
      <%= f.text_area :caption, rows: '5', class: "form-control", placeholder: "私はこんなアイテムを使ってます"%>
    </div>
  </div>
  <!-- 投稿者コメント/ -->

  <div class="form-group">
    <%= f.button '投稿を完了する', class:"btn btn-primary form-control" %>
  </div>
<% end %>