<div class="work_rooms container-fruid">
  <div class="breadcrumbs_list">
    <% if @creator_genre.present? %>
      <% breadcrumb @creator_genre %>
    <% elsif @tag_name.present? %>
      <% breadcrumb :tag, params[:tag_name] %>
    <% else %>
    <% end %>
    <%= render 'layouts/breadcrumbs' %>
  </div>
  <div class="row">
    <div class="work_rooms__side_bar col-3 px-5">
      <h3 class="mt-5 mb-4">ジャンルで絞り込む</h3>
      <%= render 'layouts/creator_genre_search_list' %>

      <h3 class="mt-5 mb-4">タグで絞り込む</h3>
      <%= render partial: "layouts/tag_search_box" %>
    </div>
    <div class="work_rooms__posts_block col">
      <h3 class="mt-5 mb-4">
        <% if @creator_genre.present? %>
          <%= @creator_genre.name %>に関する作業部屋
        <% elsif @tag_name.present? %>
          <%= @tag_name %>に関する作業部屋
        <% else %>
        <% end %>
      </h3>

      <%= render partial: "work_rooms", locals: {work_rooms: @work_rooms} %>
    </div>
  </div>
</div>