<div class="work_room_post container-fruid">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= form_for(@work_room) do |f| %>
        <div class="work_room_post__image_post">
          <h4>写真を投稿する</h4>
          <p>ファイルフォーマット：JPEG,PNG<br>５枚までアップロード可能です。</p>
          <div class="form-group">
            <div id="file" class="input-group">
              <label class="btn btn-primary form-control" for="customfile" data-browse="参照">ファイルを選択</label>
              <div class="work_room_post__custom-file">
                <%= f.attachment_field :work_room_images_images, id: "customfile", class: "custom-file-input", :multiple => true %>
              </div>
            </div>
          </div>
        </div>

         <div class="work_room_post__item_post">
          <h4>アイテムを投稿する</h4>
          <p>この作業部屋に写っているアイテムを教えて下さい。</p>
          <%= label_tag '検索ワード' %>
          <%= text_field_tag '#' %>
          <%= label_tag '検索サイト' %>

        </div>

        <div class="work_room_post__creator_genre_post">
          <h4>クリエイタージャンル</h4>
          <p>この投稿はどのジャンルのものですか？</p>
          

          <%= f.collection_radio_buttons :creator_genre_id, CreatorGenre.all, :id, :name do |b| %>
            <div class="work_room_post__creator-genre-block mr-3 mb-3">
              <%= b.radio_button %>
              <%= b.label { attachment_image_tag(b.object, :genre_image, :fill, 160, 190) } %>
              <span class="work_room_post__creator-genre-name"><%= b.object.name_en %></span>
            </div>
          <% end %>


        </div>

        <div class="work_room_post__tag_post">
          <h4>タグを付ける</h4>
          <p>この投稿に関連するタグを追加してください</p>
          <p>
            （例）音楽の場合<br>
　          ・創作物のジャンル → JPOP, HipHop など<br>
　          ・パソコンのOS → Windows, Mac など<br>
          　・アイテムのメーカー → YAMAHA, Roland など<br>
          </p>
          
        </div>

        <div class="work_room_post__contributor_comment_post">
          <h4>投稿者コメント</h4>
          <p>
            最後にこの投稿についてのコメントを200文字以内で投稿してください。<br>
            （例）追加したアイテム以外の情報とか...<br>
          </p>
        </div>

        <div class="form-group">
          <%= f.submit '投稿を完了する', class:"btn btn-primary form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>