<div class="user_mypage container">
  <div class="row">
    <div class="user_mypage__user_profile_block">
      <div class="user_mypage__user_icon">
        <%= attachment_image_tag current_user, :profile_image, :fill, 180, 180, fallback: "module/user_icons/user_no_image_icon.png" %>
      </div>
      <h3><%= current_user.name %></h3>
      <%= link_to 'フォローする', '#', class: "btn btn-secondary" %>
      <span>フォロワー<%= current_user.follower_user.count %></span>
      <span>参考になった</span>
      
      <p><%= current_user.caption %></p>
    </div>
  </div>
</div>