<div class="page_bg">
  <div class="user_page container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="user_page__user_profile_block">
          <div class="user_icon mt-3 mb-1">
            <%= attachment_image_tag @user, :profile_image, :fill, 180, 180, fallback: "module/user_icons/user_no_image_icon.png", size:'180x180', class: "user_icon__profile_image" %>
            <% @user.creator_genres.each do |creator_genre| %>
              <%= attachment_image_tag creator_genre, :genre_icon_image, :fill, 60, 60, class: "user_icon__genre_images_box" %>
            <% end %>
          </div>
          <div class="user_page__user_name_block">
            <h3 class="user_page__user_name"><%= @user.name %></h3>
            <% if @user.id != current_user.id %>
              <% if current_user.following?(@user) %>
                <%= link_to user_relationship_path(@user), method: :delete, class: "btn btn-outline-secondary my-primary-btn" do %>
                  フォロー外す
                  <i class="fas fa-user-minus"></i>
                <% end %>
              <% else %>
                <%= link_to user_relationship_path(@user), method: :post, class: "btn btn-outline-secondary" do %>
                  フォローする
                  <i class="fas fa-user-plus"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div class="user_page__repute_display">
            <span class="user_page__repute">フォロワー<em class="user_page__em_num"><%= @user.follower_user.count %></em></span>
            <span class="user_page__repute">参考になった<em class="user_page__em_num"><%= @user.post_favorite_count %></em></span>
          </div>
          
          <div class="user_page__caption">
            <%= simple_format(Rinku.auto_link(@user.caption, :all, 'target="_blank"'), {}, sanitize: false, wrapper_tag: "div") %>
          </div>
        </div>

        <!-- ユーザメニューリスト -->
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="post_list_tab" data-toggle="tab" href="#post_list" role="tab" aria-controls="post_list" aria-selected="true">投稿一覧</a>
            <a class="nav-item nav-link" id="save_item_tab" data-toggle="tab" href="#save_item" role="tab" aria-controls="nav-profile" aria-selected="false">あとで見る</a>
          </div>
        </nav>

        <div class="tab-content mt-3" id="nav-tabContent">
          <!-- 投稿一覧 -->
          <div class="tab-pane active" id="post_list" role="tabpanel" aria-labelledby="post_list_tab">
            <div class="mb-2">全<%= @work_rooms.count %>件の投稿</div>
            <div class="user_page__post_list">
              <%= render partial: "work_rooms/work_room_card_detail", collection: @work_rooms_page, as: "work_room" %>
            </div>

            <div class="user_page__more_work_rooms">
              <%= render partial: "more_resource_link", locals: { resources: @work_rooms_page } %>
            </div>
          </div>
          <!-- 投稿一覧/ -->
          <!-- あとで見る -->
          <div class="tab-pane" id="save_item" role="tabpanel" aria-labelledby="save_item_tab">
            <div>全<%= @save_items.includes([:work_room]).count %>件のアイテム</div>
            <div class="user_page__save_items">
              <% @save_items.each do |save_item| %>
                <%= render partial: "work_rooms/work_room_card_detail", locals: { work_room: save_item.work_room } %>
              <% end %>
            </div>
          </div>
          <!-- あとで見る/ -->
        </div>
        <!-- ユーザメニューリスト/ -->
      </div>
      <!-- ページのトップに戻る -->
      <%= render partial: "layouts/to_top_btn" %>
      <!-- ページのトップに戻る/ -->
    </div>
  </div>
</div>