<div class="top_page container-fruid">
  <div class="row">
    <!-- ヘッドライン -->
    <div class="top_page__headline">
      <div id="top_page__headline_imgs">
        <img src="<%= image_url('top/siteheader_bg.jpg') %>", class= "top_page__headline_bg_img">
        <img src="<%= image_url('top/siteheader1_bg.jpeg') %>", class= "top_page__headline_bg_img">
        <img src="<%= image_url('top/siteheader2_bg.jpg') %>", class= "top_page__headline_bg_img">
      </div>
      <div class="top_page__headline_message_block">
        <p class="top_page__headline_main_message">クリエイターの作業部屋をノゾいてみよう</p>
        <p class="top_page__headline_sub_message">
          絵・音楽・料理・プログラミングなど<br>
          様々なクリエイターが使っているアイテムを<br>
          共有できるサイトです。
        </p>
      </div>
    </div>
    <!-- ヘッドライン/ -->
    <!-- サイドバー -->
    <div class="top_page__side_bar col-3 px-5">
      <h3 class="mt-5 mb-4">探す</h3>
      <%= render 'layouts/creator_genre_search_list' %>
    </div>
    <!-- サイドバー/ -->
    <!-- 投稿 -->
    <div class="top_page__posts_block col">
      <!-- おすすめ -->
      <div class="top_page__posts_reccomend">
        <h3 class="mt-5 mb-4">おすすめ</h3>
        <%= render partial: "work_rooms/post_items_block", locals: {work_rooms: @work_rooms_recomend} %>
        <div class="row my-3 justify-content-center">
          <%= link_to 'おすすめをもっと見る', recommend_items_work_rooms_path, class: "my_primary_btn rounded-pill col-5" %>
        </div>
      </div>
      <!-- おすすめ/ -->

      <!-- 新着 -->
      <div class="top_page__posts_new">
        <h3 class="mt-5 mb-4">新着</h3>
        <%= render partial: "work_rooms/post_items_block", locals: {work_rooms: @work_rooms_new} %>
        <div class="row my-3 justify-content-center">
          <%= link_to '新着をもっと見る', new_items_work_rooms_path, class: "my_primary_btn rounded-pill col-5" %>
        </div>
      </div>
      <!-- 新着/ -->
    </div>
    <!-- 投稿/ -->
  </div>

  <!-- アバウト -->
  <div id="top_page__about" class="pt-3">
    <%= render partial: 'about', locals: {creator_genres: @creator_genres} %>
  </div>
  <!-- アバウト/ -->
  
  <!-- ページのトップに戻る -->
  <%= render partial: "layouts/to_top_btn" %>
  <!-- ページのトップに戻る/ -->
</div>