<div class="creator_item container">
  <div class="row py-5">
    <div class="col-3 text-center">
      <img src="<%= @creator_item.item_image || image_url("module/work_room--no_image.icon") %>", class="creator_item__item_img">
    </div>
    <div class="col">
      <div class="creator_item__item_info">
        <h2><%= @creator_item.item_name || "－" %></h2>
        <div class="creator_item__item_name"><%= @creator_item.external_site_name || "－" %></div>
        <div class="creator_item__item_price"><%= @creator_item.item_price ? "¥#{@creator_item.item_price}" : "¥ -" %></div>
      </div>
      <div class="creator_item__external_site_btns row mt-5">
        <div class="col-4">
          <% if @creator_item.item_url.present? %>
            <a href="<%= @creator_item.item_url %>" target="_blank" rel="noopener noreferrer" class="my_primary_btn creator_item__external_site_link">販売サイトへ</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="creator_item__item_use_work_rooms">
    <h3 class="py-3">このアイテムが使われている作業部屋</h3>
    <%= render partial: "work_rooms/work_rooms", locals: {work_rooms: @item_use_work_rooms} %>
  </div>
</div>